li {
    margin: 30px;
    width: 200px;
    height: 20px;
    list-style-type: none;
    background-color: #8bc34a;
    color: white;
    text-align: center;
  }

  div input[type="text"]{
    padding: 10px;
    margin-left: 30px;
    width: 250px;
  }